Repository beelzer/QTframework: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Components, Configuration, Internationalization, Widgets, Themes

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

# Codecov settings
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 80%
        threshold: 1%
        base: auto
        if_not_found: success
        if_ci_failed: error
        informational: false
        only_pulls: false

    # Coverage for changed files in PR
    patch:
      default:
        target: 80%
        threshold: 1%
        base: auto
        if_not_found: success
        if_ci_failed: error
        informational: false
        only_pulls: false

    # Don't fail if coverage changes slightly
    changes: false

# Parser configuration
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# Comment settings for PRs
comment:
  layout: "reach,diff,flags,tree,betaprofiling"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  show_carryforward_flags: false
  show_critical_paths: false

# Ignore certain files/paths
ignore:
  - "tests/**"
  - "examples/**"
  - "docs/**"
  - "scripts/**"
  - "**/__pycache__/**"
  - "**/.pytest_cache/**"
  - "**/conftest.py"
  - "setup.py"
  - "**/__init__.py"

# Flag configuration (for different test suites)
flags:
  unittests:
    paths:
      - src/qtframework
    carryforward: false

  integration:
    paths:
      - src/qtframework
    carryforward: false

# Component configuration (track coverage for different parts)
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%

  individual_components:
    - component_id: core
      name: Core Components
      paths:
        - src/qtframework/core/**

    - component_id: config
      name: Configuration
      paths:
        - src/qtframework/config/**

    - component_id: i18n
      name: Internationalization
      paths:
        - src/qtframework/i18n/**

    - component_id: widgets
      name: Widgets
      paths:
        - src/qtframework/widgets/**

    - component_id: themes
      name: Themes
      paths:
        - src/qtframework/themes/**

Update CI workflow to use Python script for prettier
  .github/workflows/ci.yml
Due: none

Change annotations from warning to error for clickable links
  .github/scripts/prettier_annotate.py
  .github/scripts/pyupgrade_annotate.py
Due: none

Add debug output to prettier annotation script
  .github/scripts/prettier_annotate.py
Due: none

Add more debug output to stdout
  .github/scripts/prettier_annotate.py
Due: none

Fix prettier annotation script to parse stderr instead of stdout
  .github/scripts/prettier_annotate.py
Due: none

Remove test annotation files and workflow
  .github/workflows/test_annotations.yml
  src/qtframework/test_annotations.py
  test_annotations.json
  test_annotations.txt
Due: unittests, integration

Make performance test more lenient for macOS
  tests/performance/test_performance.py
Due: none

Add Python 3.14 test job with continue-on-error
  .github/workflows/ci.yml
Due: none

Enable prerelease Python versions for 3.14 test job
  .github/actions/setup-environment/action.yml
  .github/workflows/ci.yml
Due: none

Fix formatting and permissions for pytest_future_python.py
  .github/scripts/pytest_future_python.py
  .github/workflows/ci.yml
Due: none

Add detailed dependency failure information to Python 3.14 annotations
  .github/workflows/ci.yml
Due: none

Fix shellcheck warnings in annotation script
  .github/workflows/ci.yml
Due: none

Remove pytest_future_python.py wrapper and simplify test execution
  .github/scripts/pytest_future_python.py
  .github/workflows/ci.yml
Due: none

Fix conditional execution for Python 3.14 tests
  .github/workflows/ci.yml
Due: none

Use step outputs instead of environment variables for install status
  .github/workflows/ci.yml
Due: none

Rebuild Python 3.14 test with simplified error handling
  .github/workflows/ci.yml
Due: none

Fix shellcheck errors with backtick escaping
  .github/workflows/ci.yml
Due: none

Fix SC2016 shellcheck warnings with proper backtick escaping
  .github/workflows/ci.yml
Due: none

Remove redundant 'required by' text when package requires itself
  .github/workflows/ci.yml
Due: none

Compare package names without version for redundancy check
  .github/workflows/ci.yml
Due: none

Use bash parameter substitution instead of sed for SC2001
  .github/workflows/ci.yml
Due: none

Enhance documentation workflow with comprehensive checks
  .github/scripts/sphinx_annotate.py
  .github/workflows/docs.yml
Due: none

Fix Sphinx build by adding Qt dependencies and improving error detection
  .github/scripts/sphinx_annotate.py
  .github/workflows/docs.yml
Due: none

Add comprehensive docstrings to state management modules
  src/qtframework/state/middleware.py
  src/qtframework/state/reducers.py
Due: unittests, integration

Add remaining docstrings to config module
  src/qtframework/config/config.py
Due: unittests, integration, Configuration

Refactor config and i18n into modular components and add ConfigEditorWidget
  .gitignore
  docs/widgets/config_editor.md
  examples/features/app/content.py
  examples/features/app/navigation.py
  examples/features/app/pages/config.py
  examples/features/app/pages/config_editor.py
  examples/features/app/showcase_window.py
  examples/features/config.yaml.example
  src/qtframework/config/__init__.py
  src/qtframework/config/file_loader.py
  src/qtframework/config/manager.py
  src/qtframework/config/migrator.py
  src/qtframework/config/validator.py
  src/qtframework/core/application.py
  src/qtframework/i18n/__init__.py
  src/qtframework/i18n/babel_manager.py
  src/qtframework/i18n/contexts.py
  src/qtframework/i18n/extractor.py
  src/qtframework/i18n/locale_formatter.py
  src/qtframework/i18n/translation_loader.py
  src/qtframework/i18n/widgets.py
  src/qtframework/navigation/router.py
  src/qtframework/state/store.py
  src/qtframework/widgets/__init__.py
  src/qtframework/widgets/config_editor.py
Due: unittests, integration, Core Components, Configuration, Internationalization, Widgets

Enhance search, themes, and UI auto-refresh features
  examples/features/app/content.py
  examples/features/app/menubar.py
  examples/features/app/navigation.py
  examples/features/app/pages/config.py
  examples/features/app/pages/config_editor.py
  examples/features/app/pages/theming.py
  examples/features/config.yaml.example
  resources/icons/clear-search.svg
  resources/icons/create_arrow_png.py
  resources/icons/dropdown-arrow-dark.svg
  resources/icons/dropdown-arrow-filled.svg
  resources/icons/dropdown-arrow.svg
  resources/themes/monokai.yaml
  resources/themes/nord.yaml
  resources/themes/solarized_dark.yaml
  src/qtframework/config/validator.py
  src/qtframework/themes/builtin_themes.py
  src/qtframework/themes/stylesheet_generator.py
  src/qtframework/themes/theme_manager.py
  src/qtframework/widgets/config_editor.py
Due: unittests, integration, Configuration, Widgets, Themes

Add comments to clarify theme change handling in config overview
  examples/features/app/pages/config.py
Due: none

Fix auto theme not updating when switching from matching manual theme
  src/qtframework/themes/theme_manager.py
Due: unittests, integration, Themes

Remove redundant Theme Switcher page and fix theme menu sync
  .github/scripts/mypy_annotate.py
  .github/scripts/pytest_annotate.py
  .github/scripts/ruff_format_annotate.py
  examples/features/app/content.py
  examples/features/app/menubar.py
  examples/features/app/navigation.py
  src/qtframework/widgets/config_editor.py
Due: unittests, integration, Widgets

Fix mypy type error in theme_manager detect_system_theme
  src/qtframework/themes/theme_manager.py
Due: unittests, integration, Themes

Fix docs build by adding config_editor widget to toctree
  docs/index.md
Due: none

Enhance color palette page with dynamic theme colors and live updates
  examples/features/app/pages/theming.py
Due: none

Make color palette fully responsive and fix ampersand display
  examples/features/app/pages/theming.py
Due: none

Replace font_size with percentage-based font_scale for better accessibility
  docs/guides/theming.md
  docs/widgets/config_editor.md
  examples/features/app/pages/config_editor.py
  examples/features/app/showcase_window.py
  examples/features/config.yaml.example
  src/qtframework/config/validator.py
  src/qtframework/themes/theme_manager.py
  src/qtframework/themes/tokens.py
Due: unittests, integration, Configuration, Themes

Expand test coverage from 12.65% to 40.73% (+28 percentage points)
  tests/conftest.py
  tests/unit/test_application.py
  tests/unit/test_base_widget.py
  tests/unit/test_buttons.py
  tests/unit/test_config.py
  tests/unit/test_context.py
  tests/unit/test_exceptions.py
  tests/unit/test_file_loader.py
  tests/unit/test_i18n.py
  tests/unit/test_inputs.py
  tests/unit/test_layouts.py
  tests/unit/test_manager.py
  tests/unit/test_migrator.py
  tests/unit/test_providers.py
  tests/unit/test_state.py
  tests/unit/test_store.py
  tests/unit/test_theme.py
  tests/unit/test_theme_manager.py
  tests/unit/test_tokens.py
  tests/unit/test_validation.py
  tests/unit/test_validator.py
  tests/unit/test_window.py
Due: none

Expand test coverage from 12.65% to 40.73% (+28 percentage points)
  tests/conftest.py
  tests/unit/test_application.py
  tests/unit/test_buttons.py
  tests/unit/test_config.py
  tests/unit/test_context.py
  tests/unit/test_file_loader.py
  tests/unit/test_inputs.py
  tests/unit/test_layouts.py
  tests/unit/test_manager.py
  tests/unit/test_migrator.py
  tests/unit/test_providers.py
  tests/unit/test_store.py
  tests/unit/test_theme.py
  tests/unit/test_theme_manager.py
  tests/unit/test_validation.py
  tests/unit/test_validator.py
  tests/unit/test_window.py
Due: none

Configure ruff to ignore S105/S110 false positives in test files
  pyproject.toml
Due: none

Fix CI ruff linting errors in test files
  tests/unit/test_exceptions.py
  tests/unit/test_i18n.py
Due: none

Fix CI test failures across all OS platforms
  tests/unit/test_manager.py
  tests/unit/test_theme_manager.py
Due: none
