Repository beelzer/QTframework: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Components, Configuration, Internationalization, Widgets, Themes

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

# Codecov settings
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 80%
        threshold: 1%
        base: auto
        if_not_found: success
        if_ci_failed: error
        informational: false
        only_pulls: false

    # Coverage for changed files in PR
    patch:
      default:
        target: 80%
        threshold: 1%
        base: auto
        if_not_found: success
        if_ci_failed: error
        informational: false
        only_pulls: false

    # Don't fail if coverage changes slightly
    changes: false

# Parser configuration
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# Comment settings for PRs
comment:
  layout: "reach,diff,flags,tree,betaprofiling"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  show_carryforward_flags: false
  show_critical_paths: false

# Ignore certain files/paths
ignore:
  - "tests/**"
  - "examples/**"
  - "docs/**"
  - "scripts/**"
  - "**/__pycache__/**"
  - "**/.pytest_cache/**"
  - "**/conftest.py"
  - "setup.py"
  - "**/__init__.py"

# Flag configuration (for different test suites)
flags:
  unittests:
    paths:
      - src/qtframework
    carryforward: false

  integration:
    paths:
      - src/qtframework
    carryforward: false

# Component configuration (track coverage for different parts)
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%

  individual_components:
    - component_id: core
      name: Core Components
      paths:
        - src/qtframework/core/**

    - component_id: config
      name: Configuration
      paths:
        - src/qtframework/config/**

    - component_id: i18n
      name: Internationalization
      paths:
        - src/qtframework/i18n/**

    - component_id: widgets
      name: Widgets
      paths:
        - src/qtframework/widgets/**

    - component_id: themes
      name: Themes
      paths:
        - src/qtframework/themes/**

Add Python 3.14 compatibility reporting to CI summary
  .github/workflows/ci.yml
Due: none

Fix actionlint shellcheck warning for grouped redirects
  .github/workflows/ci.yml
Due: none

Increase test coverage from 40.73% to 40.87% (+0.14pp, +17 tests)
  tests/unit/test_i18n.py
  tests/unit/test_state.py
Due: none

Increase test coverage from 40.87% to 40.95% (+0.08pp, +6 tests)
  tests/unit/test_inputs.py
  tests/unit/test_migrator.py
  tests/unit/test_tokens.py
Due: none

Add coverage.json and coverage_analysis.txt to gitignore
  .gitignore
Due: none

Refactor: Extract reusable components from features example to framework
  REFACTORING_COMPLETE.md
  REFACTORING_EXAMPLES.md
  examples/features/app/content.py
  examples/features/app/dockwidgets.py
  examples/features/app/pages/animations.py
  examples/features/app/pages/base.py
  examples/features/app/pages/buttons.py
  examples/features/app/pages/config.py
  examples/features/app/pages/config_editor.py
  examples/features/app/pages/dialogs.py
  examples/features/app/pages/display.py
  examples/features/app/pages/forms.py
  examples/features/app/pages/i18n.py
  examples/features/app/pages/inputs.py
  examples/features/app/pages/layouts.py
  examples/features/app/pages/selections.py
  examples/features/app/pages/state.py
  examples/features/app/pages/tables.py
  examples/features/app/pages/theming.py
  examples/features/app/pages/trees_lists.py
  examples/features/app/widgets/__init__.py
  src/qtframework/utils/__init__.py
  src/qtframework/utils/search.py
  src/qtframework/utils/styling.py
  src/qtframework/widgets/__init__.py
  src/qtframework/widgets/advanced/__init__.py
  src/qtframework/widgets/advanced/navigation.py
  src/qtframework/widgets/advanced/page_manager.py
  src/qtframework/widgets/advanced/scroll_area.py
  src/qtframework/widgets/code_display.py
  src/qtframework/widgets/color_swatch.py
  src/qtframework/widgets/containers.py
  src/qtframework/widgets/pages.py
Due: unittests, integration, Widgets

Improve GitHub Actions annotations for better error visibility
  .github/scripts/markdownlint_annotate.py
  .github/scripts/mypy_annotate.py
  .github/scripts/ruff_annotate.py
  .github/workflows/ci.yml
Due: none

Fix markdownlint annotations and clean up unused imports
  .claude/settings.local.json
  .github/scripts/markdownlint_annotate.py
  src/qtframework/utils/search.py
  src/qtframework/utils/styling.py
  src/qtframework/widgets/advanced/navigation.py
  src/qtframework/widgets/advanced/page_manager.py
  src/qtframework/widgets/advanced/scroll_area.py
  src/qtframework/widgets/code_display.py
  src/qtframework/widgets/color_swatch.py
  src/qtframework/widgets/containers.py
  src/qtframework/widgets/pages.py
Due: unittests, integration, Widgets

Fix CI errors: Mypy type errors, Ruff S110 warnings, and Markdownlint issues
  REFACTORING_COMPLETE.md
  src/qtframework/widgets/code_display.py
  src/qtframework/widgets/containers.py
Due: unittests, integration, Widgets

Fix Mypy errors in navigation.py and scroll_area.py
  src/qtframework/widgets/advanced/navigation.py
  src/qtframework/widgets/advanced/scroll_area.py
Due: unittests, integration, Widgets

Fix Mypy errors in page_manager.py, color_swatch.py, and search.py
  src/qtframework/utils/search.py
  src/qtframework/widgets/advanced/page_manager.py
  src/qtframework/widgets/color_swatch.py
Due: unittests, integration, Widgets

Refactor GitHub annotation scripts to use shared utilities
  .github/scripts/__init__.py
  .github/scripts/annotation_utils.py
  .github/scripts/markdownlint_annotate.py
  .github/scripts/mypy_annotate.py
  .github/scripts/prettier_annotate.py
  .github/scripts/pytest_annotate.py
  .github/scripts/ruff_annotate.py
  .github/scripts/ruff_format_annotate.py
Due: none

Remove unused importlib import
  src/qtframework/plugins/manager.py
Due: unittests, integration

Update pydantic to 2.12.0b1 for Python 3.14 compatibility
  pyproject.toml
  uv.lock
Due: none

Update package metadata for PyPI publishing
  pyproject.toml
  uv.lock
Due: none

Add configurable resource path system and app development instructions
  INSTRUCTIONS_FOR_APP_DEVELOPMENT.md
  src/qtframework/core/application.py
  src/qtframework/themes/stylesheet_generator.py
  src/qtframework/themes/theme.py
  src/qtframework/themes/theme_manager.py
  src/qtframework/utils/__init__.py
  src/qtframework/utils/resources.py
  tests/unit/test_theme_manager.py
Due: unittests, integration, Core Components, Themes

Add VBox and HBox layout widgets
  src/qtframework/widgets/__init__.py
  src/qtframework/widgets/layouts.py
Due: unittests, integration, Widgets

Fix type checking import for QWidget in layouts module
  src/qtframework/widgets/layouts.py
Due: unittests, integration, Widgets

Fix layout method override compatibility with QWidget
  src/qtframework/widgets/layouts.py
Due: unittests, integration, Widgets

Fix notification bugs and make notifications more compact
  src/qtframework/widgets/advanced/notifications.py
  src/qtframework/widgets/inputs.py
Due: unittests, integration, Widgets

Load themes from all resource manager search paths
  src/qtframework/themes/theme_manager.py
Due: unittests, integration, Themes

Add display name support for choice fields in ConfigEditorWidget
  src/qtframework/widgets/config_editor.py
Due: unittests, integration, Widgets

Fix theme manager to respect themes_dir parameter and formatting
  src/qtframework/themes/theme_manager.py
  src/qtframework/widgets/config_editor.py
Due: unittests, integration, Widgets, Themes

Add ButtonSize.COMPACT for input-aligned buttons
  src/qtframework/widgets/buttons.py
Due: unittests, integration, Widgets

Fix button theming and improve compact button styling
  src/qtframework/themes/stylesheet_generator.py
  src/qtframework/widgets/buttons.py
Due: unittests, integration, Widgets, Themes

Add inclusion-based theme filtering system
  src/qtframework/core/application.py
  src/qtframework/themes/theme_manager.py
Due: unittests, integration, Core Components, Themes

Add QTreeWidget styling support to table styles
  src/qtframework/themes/stylesheet_generator.py
Due: unittests, integration, Themes

Add theme extensibility and complete all theme token coverage
  resources/themes/monokai.yaml
  resources/themes/nord.yaml
  src/qtframework/themes/builtin_themes.py
  src/qtframework/themes/tokens.py
Due: unittests, integration, Themes

Apply code formatting fixes
  src/qtframework/themes/tokens.py
Due: unittests, integration, Themes

Fix mypy type errors for widget None checks
  src/qtframework/layouts/sidebar.py
  src/qtframework/widgets/color_swatch.py
  src/qtframework/widgets/layouts.py
Due: unittests, integration, Widgets

Add enhanced logging with color support and utility decorators
  src/qtframework/utils/__init__.py
  src/qtframework/utils/decorators.py
  src/qtframework/utils/logger.py
Due: unittests, integration

Fix type checking and linting issues in utils module
  src/qtframework/utils/decorators.py
  src/qtframework/utils/logger.py
Due: unittests, integration

Add shared config submodule and refactor tool configurations
  .gitmodules
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Apply ruff auto-fixes and update config integration
  .pre-commit-config.yaml
  docs/conf.py
  examples/features/app/content.py
  examples/features/app/dockwidgets.py
  examples/features/app/menubar.py
  examples/features/app/navigation.py
  examples/features/app/pages/animations.py
  examples/features/app/pages/buttons.py
  examples/features/app/pages/config.py
  examples/features/app/pages/config_editor.py
  examples/features/app/pages/dialogs.py
  examples/features/app/pages/display.py
  examples/features/app/pages/forms.py
  examples/features/app/pages/i18n.py
  examples/features/app/pages/inputs.py
  examples/features/app/pages/layouts.py
  examples/features/app/pages/selections.py
  examples/features/app/pages/state.py
  examples/features/app/pages/tables.py
  examples/features/app/pages/theming.py
  examples/features/app/pages/trees_lists.py
  examples/features/app/showcase_window.py
  examples/features/app/toolbar.py
  examples/features/app/widgets/__init__.py
  examples/features/main.py
  pyproject.toml
Due: none

Update workflows to use shared config submodule
  .github/scripts/mypy_annotate.py
  .github/workflows/ci.yml
Due: none

Fix codecov action for v5 compatibility
  .github/workflows/ci.yml
Due: none

Add comprehensive scrollbar theming support with textures
  src/qtframework/themes/stylesheet_generator.py
  src/qtframework/themes/tokens.py
Due: unittests, integration, Themes

Simplify scrollbar texture implementation with background-image
  src/qtframework/themes/stylesheet_generator.py
Due: unittests, integration, Themes

Fix linting issues in stylesheet_generator
  src/qtframework/themes/stylesheet_generator.py
Due: unittests, integration, Themes

Fix scrollbar 9-slice border-image rendering
  src/qtframework/themes/stylesheet_generator.py
Due: unittests, integration, Themes
